<!--Div de bienvenida-->

<div>
    <a class="button boton-salir is-light" (click)="logout()">
        <span class="icon is-small has-text-grey">
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </a>
</div>

<div class="figura-fondo">
    <div class="div-bienvenida">
        <img class="avatar" src="./assets/img/avatar.png" width="100px">
        <p class="title has-text-white">Bienvenido</p>
        <p class="has-text-white">{{nombreUsuario}}</p>
        <span class="tag is-success">
            <i class="fas fa-check"></i>
            SOY DONANTE
        </span>
    </div>
</div>

<!--Div de bienvenida-->