<div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
        
        <div class="div-logo">
            <img src="./assets/img/logo/Logo-durazno.png" width="80">
        </div>

        <!--Formulario de login-->
        <div class="div-form">
            <form method="POST">
                <div class="field">
                    <label class="label">Usuario</label>
                    <div class="control">
                        <input [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" class="input" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Contraseña</label>
                    <div class="control">
                        <input [(ngModel)]="contrasenna" [ngModelOptions]="{standalone: true}" class="input" type="password">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <a class="button is-primary is-fullwidth" type="submit" (click)="login()">Ingresar</a>
                    </div>
                </div>

            </form>
        </div>

        <!--Formulario de login-->

    </div>
    <div class="column"></div>
</div>