<!--Tarjeta de la última campaña notificada-->

<div class="div-tarjetas">
    <div class="card">
        <div id="mapa" *ngIf="mostrarMapa" class="cabecera-tarjeta">
            <!-- <iframe src="{{iframeEntidad}}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
        </div>
        <div class="card-content">

            <!--Información de la campaña-->

            <div class="informacion-campanna">
                <span *ngIf="urgente" class="tag is-danger border">
                    Urgente
                </span>
                <p>
                    <br>
                    {{mensajeNotificacion}}
                </p>
                <hr>
                <p>
                    <a href="{{iframeEntidad}}" target="_blank">
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        Ver en el mapa
                    </a>
                </p>
            </div>

            <!--Tarjeta de la última campaña notificada-->

            <!-- <div class="control">
                <a class="button is-primary is-fullwidth" href="">Donar</a>
            </div> -->
        </div>
    </div>
</div>

<!--Tarjeta de la última campaña notificada-->