html{
    background-color: #e5e7e9;
}

.figura-fondo{
    margin: 0px;
    width: 100%;
    height: 280px;
    
    -webkit-border-bottom-right-radius: 80px;
    -webkit-border-bottom-left-radius: 80px;
    -moz-border-radius-bottomright: 80px;
    -moz-border-radius-bottomleft: 80px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    
    background: rgba(252,125,116,1);
    background: -moz-linear-gradient(top, rgba(252,125,116,1) 0%, rgba(252,125,116,1) 28%, rgba(252,196,196,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,125,116,1)), color-stop(28%, rgba(252,125,116,1)), color-stop(100%, rgba(252,196,196,1)));
    background: -webkit-linear-gradient(top, rgba(252,125,116,1) 0%, rgba(252,125,116,1) 28%, rgba(252,196,196,1) 100%);
    background: -o-linear-gradient(top, rgba(252,125,116,1) 0%, rgba(252,125,116,1) 28%, rgba(252,196,196,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,125,116,1) 0%, rgba(252,125,116,1) 28%, rgba(252,196,196,1) 100%);
    background: linear-gradient(to bottom, rgba(252,125,116,1) 0%, rgba(252,125,116,1) 28%, rgba(252,196,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7d74', endColorstr='#fcc4c4', GradientType=0 );
    
}

.informacion-campanna{
    margin-top: 20p;
    margin-bottom: 20px;
}

.card{
    border-radius: 10px;
}

.cabecera-tarjeta{
    background-color: #d5dbdb;
    border-radius: 10px;
}

.cabecera-tarjeta iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.div-tarjetas{
    padding: 20px;
}

.div-bienvenida{
    padding: 5px;
    text-align: center;
}

.div-bienvenida.solo-texto{
    height: 120px;
    padding-top: 20px;
}

.div-bienvenida img{
    border-style: solid;
    border-color: white;
    border-radius: 50%;
}

.div-logo{
    padding-top: 20px;
    text-align: center;
}

.div-form{
    padding: 10px;
}

.contenido-en-figura{
    margin-top: 110px;
}

.contenido {
    margin-top: 110px;
}

.card.fila{
    margin-bottom: 10px;
}

.tag:not(body).is-danger {
    background-color: #fcc4c4;
    color: #fc7c74;
}

.tag:not(body).is-danger.border {
    border-style: solid;
}

.button.is-primary {
    background-color: #fc9a92;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #fc7c74;
    border-color: transparent;
    color: #fff;
}

.button.is-light {
    background-color: #e5e7e9;
    border-color: transparent;
    color: #fff;
}

.drop {
    margin-top: 10px;
    background-color: #fc7c74;
    height: 40px;
    width: 40px;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
    box-shadow: inset -15px 10px 0px -10px #fcc4c4;
}

.drop p{
    transform: rotate(-45deg);
}
 
.boton-salir{
    margin-top: 5px;
    position: absolute; 
    right: 5px;
}

/* div{
    border-style: solid;
}

.column{
    border-style: solid;
} */